$fixed_footer_height : 60px;

html, body {
	height: 100%;
}

.hiddenMsg {
	display: none;
}

.topMenu {
	border-radius: 0 !important;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto (-$fixed_footer_height);
	padding: 0 0 $fixed_footer_height;
}

.footer {
	height: $fixed_footer_height;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}