$footer_fixed_height : 80px;
$footer_pagging : 10px;
$body_color : #95F3FC;
$carousel_height : 500px;
$default_black : #000;
$default_white : #FFF;
$padding_left_desc: 20px;
$default_margin_top: 20px;

html, body {
	height: 100%;
}

.hiddenMsg {
	display: none;
}

.topMenu {
	border-radius: 0 !important;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto (-$footer_fixed_height);
	padding: 0 0 $footer_fixed_height;
}

.footer {
	padding: $footer_pagging;
	height: $footer_fixed_height;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.moreInfo {
	display: none;
}

.defaultHide {
	display: none;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
	margin: 0 auto;
}

.defaultClick:hover {
	cursor: pointer;
}

.alignRight {
	float: right;
}

.officeDescriptionInput {
  padding-left: $padding_left_desc;
}

.refUserMailHead {
  color: $default_white;
}

.boxShadowDefault {
  box-shadow: 1px 1px 1px $default_black;
  padding: 5px;
}

.defaultMarginTop {
  margin-top: $default_margin_top;
}

/* NAVBAR DEFINITION */

$bgDefault      : #299edd;
$bgHighlight    : #097dbb;
$colDefault     : #ecf0f1;
$colHighlight   : #fdfdfd;
$dropDown       : true;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            > .divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

/* ----------------- */